* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
html,
body {
  min-height: 100%;
  width: auto;
  overflow: hidden;
}
#container {
  background-color: #f0f0f0;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.fattable {
  overflow: hidden;
}
.fattable-viewport {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.fattable-viewport > div {
  overflow: hidden;
  padding: 2px;
  position: absolute;
  background-color: white;
  font-size: 12px;
  font-family: sans-serif;
}
.fattable-body-container {
  position: absolute;
  overflow-x: scroll;
  overflow-y: scroll;
  bottom: 0px;
  width: 100%;
}
.fattable-header-container {
  position: absolute;
  overflow: hidden;
  top: 0px;
  width: 100%;
}
